<section>
    <div class="headline">
        <img src="./assets/contact/logo.svg" alt="logo">
        <h1> Add contact</h1>
        <h3>Tasks are better with a team!</h3>
        <div class="blueline"></div>
    </div>

    <div class="add_contacts_content">
        <img class="contact_icon" src="./assets/contact/add-contact-overlay.svg" alt="contact_icon">
        <form>
           

            <label class="input_content">
                <input type="text" name="name" placeholder="Name">
                <img src="./assets/contact/person.svg" alt="Person">
            </label>

            <label class="input_content">
                <input type="text" name="email" placeholder="Email">
                <img src="./assets/contact/mail.svg" alt="mail">
            </label>

            <label class="input_content">
                <input type="text" name="phone" placeholder="Phone">
                <img src="./assets/contact/call.svg" alt="phone">
            </label>

            <div class="btn_container">
                <button class="cancel_btn">
                    Cancel
                    <img src="./assets/btns-icons/close_dark.svg" alt="cancel">
                </button>

                <button class="create_btn">
                    Create contact
                    <img src="./assets/btns-icons/check.svg" alt="Create">
                </button>

                <div class="close_btn">
                    <img src="./assets/btns-icons/close_dark.svg" alt="close">
                </div>
            </div>
        </form>
    </div>

</section>