@use './../../../../styles.scss' as *;
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    width: 830px;
    height: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    animation: slideInFromRight 0.5s ease-out forwards;

    &.closed {
        animation: slideOutToRight 0.5s ease-in forwards;
    }
}

.red{
    color: red;
}

.section_wrapper {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.upper_form {
    display: flex;
    align-items: flex-start;
    height: auto;
    gap: 42px;
}

.lower_form {
    display: flex;
    justify-content: space-between;
    height: 56px;

    >.notice {
        align-self: flex-start;
    }

    >.clear_submit {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
}

.left_content {
    display: flex;
    flex-direction: column;
    height: 376px;
    width: 440px;
}

.right_content {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 440px;
}

label {
    font-size: 20px;
    padding: 8px;
    padding-top: 16px;
}

.dropdown {
    padding-top: 16px;
}

.dropdown.select_contacts {
    padding-top: 8px;
}

input[type="text"] {
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    outline: none;
    &::placeholder {
        font-size: 12px;
        color: #d1d1d1;
        font-family: 'Poppins';
    }
    &:focus {
        border: 1px solid $light_blue;
        box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }
}

input[type="date"] {
    width: 100%;
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    background-color: white;
    font-size: 12px;
    color: #d1d1d1;
    font-family: 'Poppins';
    cursor: pointer;
    outline: none;
    &:focus {
        border: 1px solid $light_blue;
        box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }
}

textarea {
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 16px;
    outline: none;
    &:focus {
        border: 1px solid $light_blue;
        box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }
    &::placeholder {
        font-size: 12px;
        color: #d1d1d1;
        font-family: 'Poppins';
    }
}

select {
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px 16px;
    outline: none;
    &:focus {
        border: 1px solid $light_blue;
        box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }
}

select option:disabled {
    font-size: 12px;
    color: #d1d1d1;
}

.prio_btns {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    gap: 16px;
    >button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 19px 10px;
        border-radius: 10px;
        border: unset;
        background-color: white;
        width: 35%;
        height: 56px;
        color: black;
        font-weight: 400;
        font-size: 20px;
        border: 1px solid #d1d1d1;
        &:hover{
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.prio.selected.urgent, .prio.selected.medium, .prio.selected.low {
    border: none;
    font-size: 21px;
    font-weight: 700;
    color: white;
    font-size: 21px;
    font-weight: 700;
    >svg path {
        fill: white;
    }
}

.prio.selected.urgent {
    background-color: #ff3d00;
}

.prio.selected.medium {
    background-color: #fea800;
}

.prio.selected.low {
    background-color: #7be129;
}



//selection of contacts
.rotate {
    transform: rotate(180deg);
}

.white {
    color: white;
}


.select_contacts {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    margin-top: 8px;
    cursor: pointer;  
}

.like_placeholder {
    font-size: 20px;
    color: black;
}

.dropdown_menu {
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    z-index: 30;
    // padding: 12px 16px;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
}
.selected-contacts{
    padding: 5px;
}

.one_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px 8px 20px ;
    height: 56px;
    font-size: 20px;
    &:hover{
        cursor: pointer;
        background-color: #5c5c5c1f;
        border-radius: 10px;
    }
    >.contact_info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

.category_dropdown {
    background-color: white;
    border-radius: 10px;
    z-index: 30;
    border: 1px solid #d1d1d1;
}

.select_task {
    font-size: 20px;
    padding-top: 16px;
}

.avatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    color: white;
}

.btn_plain {
    font-size: 20px;
    box-sizing: border-box;
    &:hover {
        >img {
            content: url(./../../../../../public/assets/tasks/close_blue.svg);
        }
    }
}

.checked {
        content: url(./../../../../../public/assets/tasks/checkbox-checked.svg);
    }

.selected_contacts {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}

.error_message {
    color:red;
    font-size: 12px;
    font-family: 'Poppins';
}


// SUBTASK
.subtasks_content {
    width: 100%;

    .checkbox_content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0px 0px 0px 10px;
        padding: 2px 15px 2px 10px;

        &:hover {
            background-color: #0000000e;
            border-radius: 5px;
        }
    }
}

.subtask-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2117647059);
    border-radius: 10px;
    padding: 12px 16px;
    padding-right: 40px;
    outline: none;
    &:focus {
        border: 1px solid $light_blue;
        box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }

    &::placeholder {
        color: #d1d1d1;
    }
}

.input-icon,
.input-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 8px; // Adjust the margin as needed
    position: absolute;
    right: 0;
    padding-right: 10px;
    top: 13px;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    gap: 8px;
}

ul {
    padding: 0;
    padding-top: 10px;
    width: 100%;
}

li {
    padding: 15px 10px 15px 10px;
}

.subtask-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 20px;
    position: relative;

    .subtask-circle {
        // display: none; 
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        margin-right: 10px;
    }

    .subtask-actions {
        display: none;
        margin-left: auto;

        .edit-button,
        .remove-button {
            background: none;
            border: none;
            cursor: pointer;
            margin-left: 5px;
            margin-right: 5px;
            padding: 3px 6px 3px 6px;

            &:hover{
                padding: 3px 6px 3px 6px;
                border-radius: 20px;
                background-color: rgb(235, 234, 234);
            }
        }
    }

    &:hover .subtask-actions {
        display: flex;
    }
}

.subtask-item:hover {
    background-color: rgb(235, 234, 234);
    border-radius: 8px;
    transition: background-color 0.3s ease, border 0.3s ease;

    &.editing {
        background-color: rgb(255, 255, 255) !important;
        border-bottom: 1px solid $light_blue;
        border-radius: 0px;
    }
}

.subtask-item input:focus {
    background-color: white;
    border-bottom: 1px solid $light_blue;
}

.subtask-input-edit {
    padding: 6px;
    width: 100%;
    border-bottom: 1px solid $light_blue;
    ;
    font-size: 16px;
    border: none;
    outline: none;
    transition: border 125ms ease;

    &:focus {
        border-bottom: 1px solid $light_blue;
        ;
    }
}

.report {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    border: unset;
    padding: 15px 24px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #2A3647;
    width: 246px;
    position: fixed; /* Position ändern, um von unten zu fliegen */
    bottom: -100%; /* Start außerhalb des Bildschirms */
    left: 50%; /* In der Mitte des Bildschirms */
    transform: translateX(-50%); /* Um es genau mittig zu platzieren */
    transition: bottom 0.5s ease-in-out; /* Sanfter Übergang für die Bewegung */
    z-index: 50;
}

.show_report {
    bottom: 447px; /* Die Position, an der die Box landen soll */
}

.close-position{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-position img{
  cursor: pointer;
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}
@media (max-width: 1200px) {
    .prio_btns {
        >button{
            font-size: 16px;
            padding: 0;
            >svg {width: 12px;}
        }
    }
    .prio.selected.urgent {
        font-size: 17px;
    }
    .prio.selected.medium {
        font-size: 17px;
    }
    .prio.selected.low {
        font-size: 17px;
    }

    h1 {font-size: 56px !important;}

    .dialog-content{
        height:557px;
        padding:10px;
    }

    .right_content{
        height: 420px;
    }

    label{
        font-size:15px;
        padding-top: 6px;
    }

    .btn_bold{
        padding:10px;
    }

    .btn_plain{
        padding:10px;
    }

    span{
        font-size:15px;
    }

    select{
        font-size:15px;
    }

    .like_placeholder{
        font-size:15px;
    }
}
