div {
    display: flex;
    height: 100vh;
}

.contact-list {
    width: 30%;
}

.contact-details.open {
    width: 100%;
    z-index: -1;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.dialog-closed {
    animation: slideOutToRight 0.5s ease-in forwards;
}

// @media (max-width: 1490px) {
//     .contact-details {
//         width: 50%;
//     }
// }

@media (max-width: 1150px) {
    .contact-details {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .contact-list {
        width: 100%;
    }

    .contact-details {
        display: none;
        width: 100vw;
    }
    
    .contact-details.open {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: white;
        padding-top: 100px;
        height: calc(100vh - 100px);
        z-index: 3;

        .contact-details {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 80px;
            padding-top: 100px;

        }
    }
}