div {
    display: flex;
    height: 100vh;

  
}

.contact-list{
    width: 40%;
}

.contact-details{
    width: 60%;
}

@media (max-width: 900px) {
    .contact-list {
        width: 100%;
    }

    .contact-details {
        display: none;
        width: 100vw;
    }


    .contact-details.open {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: white; /* Falls nötig, um Überlappungen zu verdecken */
        width: 100%;
        padding-top:100px;

    .contact-details{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 80px;
        padding-top: 100px;

    }
}
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.dialog-closed {
    animation: slideOutToRight 0.5s ease-in forwards;
}

