<section>
    <header>
        <p class="header_title">Kanban Project Management Tool</p>
        <div class="logo_container">
            <img class="header_logo" src="./assets/icons/logo_dark.svg" alt="Logo">
        </div>
        
        
        <div class="header_profil_container">
            <a class="help_btn" [routerLink]="['help-page']"><img src="./assets/icons/help.svg" alt="Help"></a>
            <button (click)="toggleMenu()">CS</button>

            <div class="dropdown_menu" *ngIf="menuOpen">

                <a [routerLink]="['help-page']" class="dropdown_help" (click)="openHelp()">Help</a>

                <a [routerLink]="['imprint']" (click)="openLegalNotice()">Legal Notice</a>
                <a [routerLink]="['privacy-policy']" (click)="openPrivacyPolicy()">Privacy Policy</a>
                <a [routerLink]="'/logout'" (click)="logout()">Log out</a>
              </div>
        </div>
    </header>

</section>