<p class="category">{{item.category}}</p>
<p class="title">{{item.title}}</p>
<p class="description">{{item.description}}</p>
<p class="subtasks">Subtasks</p>
<div class="content-wrapper">
    <div class="assigned_to">
        <div class="avatar" [ngStyle]="{'background-color': firebase.orderedContactsList[0].color}">
            <p>{{firebase.orderedContactsList[0].firstname.charAt(0)}}{{firebase.orderedContactsList[0].lastname.charAt(0)}}</p>
        </div>
        <div class="avatar" [ngStyle]="{'background-color': firebase.orderedContactsList[1].color}">
            <p>{{firebase.orderedContactsList[1].firstname.charAt(0)}}{{firebase.orderedContactsList[1].lastname.charAt(0)}}</p>
        </div>
    </div>
    <div class="priority">
        <img src="" alt="">
    </div>
</div>
