<!-- <div *ngFor="let task of filteredTasks">
    <div class="task-card">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <small>{{ task.date }} | Priority: {{ task.priority }}</small>
    </div>
  </div> -->

<section>
    <div class="headline_content">
        <div class="headline_box">
            <h1>Board</h1>
            <button class="add_btn_respo"><img src="./assets/tasks/add.svg" alt="add"></button>
        </div>
        <div class="find_task_content">
            <div class="search-container">
                <input type="text" placeholder="Find Task" class="search-input" [(ngModel)]="searchQuery" (input)="filterTasks()"/>
                <img src="./assets/tasks/Vector 3.svg" alt="">
                <button class="search-button">
                    <img src="./assets/tasks/search.svg" alt="seach">
                </button>
            </div>
            <button class="add_btn">Add task <img src="./assets/tasks/add.svg" alt="add"></button>
        </div>
    </div>

    <!-- tast container -->

    <div class="task_container">
        <div class="todo_box">
            <div class="title_content">
                <h5>To do</h5>
                <button>+</button>
            </div>
            <div id="todo" cdkDropList #todo="cdkDropList" [cdkDropListData]="firebase.todo" [cdkDropListConnectedTo]="[inProgress, awaitFeddback, done]" class="drop-area" (cdkDropListDropped)="drop($event)">
                @for (item of firebase.todo; track item) {
                    <div class="card" cdkDrag>
                        <p class="category">{{item.category}}</p>
                        <p class="title">{{item.title}}</p>
                        <p class="description">{{item.description}}</p>
                        <p class="subtasks">Subtasks</p>
                        <div class="content-wrapper">
                            <div class="assigned_to">
                                <div class="avatar" [ngStyle]="{'background-color': firebase.orderedContactsList[0].color}">
                                    <p>{{firebase.orderedContactsList[0].firstname.charAt(0)}}{{firebase.orderedContactsList[0].lastname.charAt(0)}}</p>
                                </div>
                                <div class="avatar" [ngStyle]="{'background-color': firebase.orderedContactsList[1].color}">
                                    <p>{{firebase.orderedContactsList[1].firstname.charAt(0)}}{{firebase.orderedContactsList[1].lastname.charAt(0)}}</p>
                                </div>
                            </div>
                            <div class="priority">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="progress_box">
            <div class="title_content">
                <h5>In progress</h5>
                <button>+</button>
            </div>  
            <div id="in-progress" cdkDropList #inProgress="cdkDropList" [cdkDropListData]="firebase.inProgress" [cdkDropListConnectedTo]="[awaitFeddback, todo, done]" class="drop-area" (cdkDropListDropped)="drop($event)">
                @for (item of firebase.inProgress; track item) {
                    <div class="example-box" cdkDrag>
                        <p>{{item.category}}</p>
                        <p>{{item.title}}</p>
                        <p>{{item.description}}</p>
                    </div>
                }
            </div>
        </div>


        <div class="await_box">
            <div class="title_content">
                <h5>Await feedback</h5>
                <button>+</button>
            </div>
            <div cdkDropList #awaitFeddback="cdkDropList" [cdkDropListData]="firebase.awaitFeedback" [cdkDropListConnectedTo]="[done, todo, inProgress]" class="drop-area" (cdkDropListDropped)="drop($event)">
                @for (item of firebase.awaitFeedback; track item) {
                    <div class="example-box" cdkDrag>
                        <p>{{item.category}}</p>
                        <p>{{item.title}}</p>
                        <p>{{item.description}}</p>
                    </div>
                }
            </div>
        </div>
        
        <div class="done_box">
            <div class="title_content">
                <h5>Done</h5>
                <button>+</button>
            </div>
            <div cdkDropList #done="cdkDropList" [cdkDropListData]="firebase.done" [cdkDropListConnectedTo]="[awaitFeddback, inProgress, todo]" class="drop-area" (cdkDropListDropped)="drop($event)">
                @for (item of firebase.done; track item) {
                    <div class="example-box" cdkDrag>
                        <p>{{item.category}}</p>
                        <p>{{item.title}}</p>
                        <p>{{item.description}}</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>