@use './../../../styles.scss' as *;

section {
    padding: 80px;
}

.headline_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.add_btn_respo {
    display: none;
}

.find_task_content {
    display: flex;
    gap: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
    background-color: #f8f8f8;
    width: 312px;
    height: 48px;
    transition: all 125ms ease-in-out;

    &:focus-within {
        border: 1px solid $light_blue;
        box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }

    .search-input {
        border: none;
        outline: none;
        background: transparent;
        flex: 1;
        padding: 5px;
        font-size: 20px;
    }

    .search-button {
        background: none;
        border: none;
        cursor: pointer;

        img {
            padding: 8px;
        }

        img:hover {
            background-color: #70707017;
            border-radius: 12px;
        }
    }
}

.add_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $lightblack;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 148px;
    transition: all 125ms ease;

    &:hover {
        background-color: $light_blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
    }

    img {
        width: 18px;
        height: 18px;
    }
}

.task_container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.title_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    color: $lightblack;
    font-size: 20px;

    button {
        border: 2px solid $lightblack;
        border-radius: 5px;
        height: 25px;
        width: 25px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: $light_blue;
            border: 2px solid $light_blue;
        }
    }
}

@media (max-width:1090px) {
    section {
        padding: 40px;
        padding-top: 80px;
    }

    .find_task_content {
        height: 43px;
    }

    .search-container {
        width: 255px;
        height: auto;

        .search-input {
            font-size: 16px;
        }
    }

    .add_btn {
        font-size: 16px;
        width: 115px;

        img {
            width: 16px;
            height: 14px;
        }
    }
}

@media (max-width:900px) {
    section {
        padding: 20px 30px;
        padding-top: 120px;
    }
}

@media (max-width:645px) {
    .headline_content {
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    h1 {
        font-size: 50px;
    }

    .find_task_content {
        width: 100%;

        .add_btn {
            display: none;
        }

        .search-container {
            width: 100%;
        }
    }

    .add_btn_respo {
        display: flex;
        height: 35px;
        width: 35px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: $lightblack;
        border: none;
        border-radius: 7px;
        color: #fff;
        cursor: pointer;
        transition: all 125ms ease;

        &:hover {
            background-color: $light_blue;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
        }
    }
}

.card {
    width: 252px;
    height: 263px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 16px;
    cursor: pointer;

    .category {
        background-color: #0038FF;
        color: white;
        padding: 4px 16px;
        border-radius: 8px;
    }

    .title {
        font-weight: 700;
    }

    .description {
        color: #A8A8A8;
    }

    .avatar {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        padding: 10px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: #FFFFFF;
        }
    }
}

// open card dialog
.custom-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: slideInFromRight 125ms ease-out forwards;
}

.overlay_content {
    background-color: rgba(0, 0, 0, 0.349);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.dialog-closed {
    animation: slideOutToRight 0.5s ease-in forwards;
}
