@use './../../../styles.scss' as *;

section {
    padding: 80px;
}

.headline_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.add_btn_respo {
    display: none;
}

.find_task_content {
    display: flex;
    gap: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
    background-color: #f8f8f8;
    width: 312px;
    height: 48px;
    transition: all 125ms ease-in-out;

    &:focus-within {
        border: 1px solid $light_blue;
        box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }

    .search-input {
        border: none;
        outline: none;
        background: transparent;
        flex: 1;
        padding: 5px;
        font-size: 20px;
    }

    .search-button {
        background: none;
        border: none;
        cursor: pointer;

        img {
            padding: 8px;
        }

        img:hover {
            background-color: #70707017;
            border-radius: 12px;
        }
    }
}

.add_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $lightblack;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 148px;
    transition: all 125ms ease;

    &:hover {
        background-color: $light_blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
    }

    img {
        width: 18px;
        height: 18px;
    }
}

.task_container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    gap: 24px;
}

.title_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    color: $lightblack;
    font-size: 20px;
    margin-bottom: 14px;

    button {
        border: 2px solid $dark_grey;
        border-radius: 8px;
        height: 25px;
        width: 25px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: $light_blue;
            border: 2px solid $light_blue;
        }
    }

    h5 {
        color: $dark_grey;
        font-size: 20px;
    }
}

.card {
    width: 252px;
    min-width: 252px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 16px;

    &:hover {
        cursor: pointer;
        scale: 1.02;
    }

    &.cdk-drag-preview {
        transform: rotate(-5deg);
    }
    
    &.cdk-drag-placeholder {
        opacity: 0.5;
        border: 1px dashed #A8A8A8;
    }

    &.cdk-drag-dragging:active {
        animation: rotating 0.4s linear infinite; // Fügt eine Dreh-Animation hinzu
    }
}

@keyframes rotating {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(3deg); }  // Leichte Schwenkbewegung
    100% { transform: rotate(-3deg); }
}

.no_tasks_card {
    width: 246px;
    height: 48px;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    color: #A8A8A8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// open card dialog
.custom-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: slideInFromRight 125ms ease-out forwards;
}

.overlay_content {
    background-color: rgba(0, 0, 0, 0.349);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    width: 950px;
    height: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    animation: slideInFromRight 0.5s ease-out forwards;

    &.closed {
        animation: slideOutToRight 0.5s ease-in forwards;
    }
}

.dialog-closed {
    animation: slideOutToRight 0.5s ease-in forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}


@media screen and (max-width: 1428px) {
    .task_container {
        flex-direction: column;
    }

    .cdk-drop-list {
        display: flex;
        overflow-x: scroll;
        gap: 16px;
    }
}

@media (max-width:1090px) {
    section {
        padding: 40px;
        padding-top: 80px;
    }

    .find_task_content {
        height: 43px;
    }

    .search-container {
        width: 255px;
        height: auto;

        .search-input {
            font-size: 16px;
        }
    }

    .add_btn {
        font-size: 16px;
        width: 115px;

        img {
            width: 16px;
            height: 14px;
        }
    }
}

@media (max-width:900px) {
    section {
        padding: 20px 30px;
        padding-top: 120px;
    }
}

@media (max-width:645px) {

    section {
        padding: 100px 22px 20px 22px;
        margin-bottom: 90px;
    }

    .headline_content {
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    h1 {
        font-size: 50px;
    }

    .find_task_content {
        width: 100%;

        .add_btn {
            display: none;
        }

        .search-container {
            width: 100%;
        }
    }

    .add_btn_respo {
        display: flex;
        height: 35px;
        width: 35px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: $lightblack;
        border: none;
        border-radius: 7px;
        color: #fff;
        cursor: pointer;
        transition: all 125ms ease;

        &:hover {
            background-color: $light_blue;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
        }
    }
}

