@use '../../../../styles.scss' as styles;
// section {
//     display: flex;
// }

.list_wrapper {
    width: 100%;
    padding: 20px 30px;
    height: 100vh;
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

.btn_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn_plain_color {
        width: 80%;
        margin-top: 16px;
    }
}

.single_letter {
    padding: 20px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.contact_info_wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 32px;
    cursor: pointer;

    &:hover {
        background-color: #2a364710;
        border-radius: 8px;
    }

    &.selected-contact {
        background-color: #2A3647; 
        color: white;
        border-radius: 8px;
    }
}



.avatar {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.email {
    color: styles.$light_blue;
}


.custom-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: slideInFromRight 125ms ease-out forwards;
}

.overlay_content {
    background-color: rgba(0, 0, 0, 0.349);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.succesfull_content{
    width: 326px;
    height: 74px;
    background-color: #2A3647;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 120px;
    left:50%;
    animation: slideInFromRight 125ms ease-out forwards;
 }
 
 .three_dot_menu{
    cursor:pointer;
    bottom: 99px;
    left: 83%;
    width: fit-content;
    padding-right: 20px;
//     z-index: 105;
//     display: flex;
//     position: static;
//     justify-self: flex-end;
//    align-self: flex-end;
 }

 .three_dot_menu img:hover{
    content: url('../../../../../public/assets/contact/add-contact-hover.svg');
 }

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

 
#add_contact_btn {
    position: sticky;
    z-index: 30;
}

.dialog-closed {
    animation: slideOutToRight 0.5s ease-in forwards;
}

@media (min-width:900px) {
    .three_dot_menu{
        display: none;
    }
}

@media (max-width: 1200px) {
    .btn_plain_color {
        padding: 8px 16px;
        gap: 8px;
    }
    .btn_plain_color h4 {font-size: 16px;}
    .single_letter {padding: 16px;}
    .contact_info_wrapper {gap: 16px;}
    .avatar {width: 36px; height: 36px;}
}

@media (max-width: 1160px) {
    .btn_plain_color {
        padding: 8px;
        gap: 8px;
    }
}

@media (max-width: 1090px) {
    .btn_plain_color img {height: 25px;}
    .single_letter {padding-bottom: 8px;}
    .contact_info_wrapper {gap: 8px;}
    .list_wrapper {padding: 20px 16px;}
}

@media (max-width: 1020px) {
    .list_wrapper {padding: 16px 8px;}
    .single_letter {padding-bottom: 6px;}
    .avatar p {font-size: 14px;}
}

@media (max-width: 970px) {
    .avatar {height: 30px; width: 30px;}
}

@media (max-width: 940px) {
    .contact_info_wrapper {padding: 16px 8px;}
    .btn_plain_color img {height: 20px;}
    .avatar {height: 24px; width: 24px;}
    .avatar p {font-size: 12px;}
}

@media (max-width:900px) {
    .btn_wrapper{
        display:none;
    }
    .list_wrapper {
        width: 100vw;
        padding-top: 100px;
    }
    #addNewBtn {
        position: fixed;
        top: 86%;
        left: 83%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        padding: 12px;
        z-index: 15;
        >h4 {
            display: none;
        }
        .contact_info_wrapper {
            gap: 16px;
            padding: 8px;
        }
    }
    .avatar {height: 42px; width: 42px;}
    .avatar p {font-size: 16px;}
    .single_letter {padding: 20px;}
    .list_wrapper {padding: 20px 30px; padding-top: 100px;}
    .contact_info_wrapper {
        padding: 20px 10px;
        gap: 32px;
    }
    .three_dot_menu {left: 80%;}
}

@media (max-width: 470px) {
    .three_dot_menu {left: 77%;}
}

@media (max-width: 380px) {
    .three_dot_menu {left: 78%;}
}