@use '../../../../styles.scss' as styles;

.list_wrapper {
    width: 100%;
    padding: 20px 30px;
    height: 100vh;
    overflow-y: scroll;
    height: calc(100vh - 96px);
}

.btn_wrapper {
    width: 100%;

    .btn_plain_color {
        width: 100%;
    }
}

.single_letter {
    padding: 20px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.contact_info_wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 32px;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    color: styles.$light_blue;
}


.custom-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: slideInFromRight 125ms ease-out forwards;
}
.overlay_content{
    background-color: rgba(0, 0, 0, 0.349); 
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.succesfull_content{
    width: 326px;
    height: 74px;
    background-color: #2A3647;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 120px;
    left:50%;
    animation: slideInFromRight 125ms ease-out forwards;
 }
 

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.dialog-closed {
    animation: slideOutToRight 0.5s ease-in forwards;
}

@media screen and (max-width: 800px) {
    .list_wrapper {
        padding: 136px 24px 0 24px;
        width: 100%;
        height: 88vh;
    }
    #addNewBtn {
        position: fixed;
        top: 636px;
        left: 198px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        padding: 12px;
        z-index: 15;
        >h4 {display: none;}
    }

    

}