<section class="section_wrapper">
    <div class="summary_title">
        <h1>Join 360</h1>
        <img src="./assets/contact/line.svg" alt="blue line">
        <h3>Key Metrics at a Glance</h3>
    </div>

    <div class="first_line">
        <div class="task_count">
            <img src="" alt="">
            <span class="count"></span>
            <p>To do</p>
        </div>
        <div class="task_count">
            <img src="" alt="">
            <span class="count"></span>
            <p>Done</p>
        </div>
    </div>
</section>
