<section class="section_wrapper">
    <div class="summary_title">
        <h1>Join 360</h1>
        <img src="./assets/contact/line.svg" alt="blue line">
        <h3>Key Metrics at a Glance</h3>
    </div>
<div class="task_table">
    <div class="first_line">
        <div class="table_cell">
            <img class="todo_icon" src="./assets/summary/to_do_icon.svg" alt="to do task icon">
            <div>
                <span class="count">1</span>
                <p>To-do</p>
            </div>
            
        </div>
        <div class="table_cell">
            <img class="done_icon" src="./assets/summary/done_icon.svg" alt="done task icon">
            <div>
                <span class="count">1</span>
                <p>Done</p>
            </div>
        </div>
    </div>

    <div class="urgent-task table_cell">
        <div class="task_count">
            <img class="urgent_icon" src="./assets/summary/urgent_icon.svg" alt="urgent task icon">
            <div>
                <span class="count">1</span>
                <p>Urgent</p>
            </div>
        </div>
        <img src="./assets/summary/grey_dividing_line.svg" alt="grey line">
        <div class="due_date">
            <p class="task_date">Dezember 31., 2025</p>
            <p>Upcoming Deadline</p>
        </div>
    </div>

</div>
</section>
