@if (isPrivacyOrImprintPage()) {
  <div>
    <app-shared></app-shared>
    <div class="content_wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
}
@else if (!isLoggedIn && newUser) {
  <app-sign-up (resetNewUser)="resetNewUser()"></app-sign-up>
}

@else if (!isLoggedIn) {
    <app-log-in (loginSuccess)="onLoginSuccess()" (newUserOutput)="goToSignUp()" ></app-log-in>
}

@else {
  <div class="main-component_wrapper">
    <app-shared></app-shared>
    <div class="content_wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
}


<!-- @if (isPrivacyOrImprintPage() || isLoggedIn) { DAS GLEICHE WIE OBEN
  <div>
    <app-shared></app-shared>
    <div class="content_wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
}
@else if (!isLoggedIn && newUser) {
  <app-sign-up (resetNewUser)="resetNewUser()"></app-sign-up>
}
@else {
  <app-log-in (loginSuccess)="onLoginSuccess()" (newUserOutput)="goToSignUp()"></app-log-in>
} -->
