.content_wrapper {
        position: relative;
        top: -811px;
        left: 250px;
        max-width: 1440px;
        width: 100%;
}

@media screen and (max-width: 900px) {
    .content_wrapper{
        position: relative;
        width: 0;
        top: 0;
        left: 0;
    }
}