<!-- Ladeindikator -->
<div *ngIf="isLoading" class="loader-wrapper">
  <p>Loading...</p> <!-- Hier kannst du deinen Loader einbauen -->
</div>

<!-- Wenn Impressum oder Datenschutzseite -->
<div *ngIf="!isLoading && isPrivacyOrImprintPage()">
  <app-shared></app-shared>
  <div class="content_wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Wenn Login angezeigt werden soll -->
<app-sign-up *ngIf="!isLoading && !isLoggedIn && newUser" (resetNewUser)="resetNewUser()"></app-sign-up>

<app-log-in
  *ngIf="!isLoading && !isLoggedIn && !newUser"
  (loginSuccess)="onLoginSuccess()"
  (newUserOutput)="goToSignUp()"
></app-log-in>

<!-- Wenn eingeloggt -->
<div *ngIf="!isLoading && isLoggedIn" class="main-component_wrapper">
  <app-shared></app-shared>
  <div class="content_wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
