.content_wrapper { 
    padding-left: 250px;
    padding-top: 96px;
    max-width: 1440px;
    width: 100%;
}

app-shared {
    position: fixed;
    z-index: 20;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    color: #333;
    font-size: 1.2rem;
  }
  
  .spinner {
    width: 48px;
    height: 48px;
    border: 6px solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-bottom: 1rem;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 900px) {
    .content_wrapper{
        position: relative;
        padding-left: 0;
        padding-top: 0;
    }
}