.content_wrapper { 
    padding-left: 250px;
    padding-top: 96px;
    max-width: 1440px;
    width: 100%;
}

app-shared {
    position: fixed;
    z-index: 20;

}

@media screen and (max-width: 900px) {
    .content_wrapper{
        position: relative;
        padding-left: 0;
        padding-top: 0;
    }
}