.red{
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

.upper_form {
    display: flex;
    align-items: flex-start;
    height: 424px;
    gap: 42px;
}

.lower_form {
    display: flex;
    justify-content: space-between;
    height: 56px;

    >.notice {
        align-self: flex-start;
    }

    >.clear_submit {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
}

.left_content {
    display: flex;
    flex-direction: column;
    height: 376px;
    width: 440px;
}

.right_content {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 440px;
}

label {
    font-size: 20px;
    padding: 8px;
    padding-top: 16px;
}

.dropdown {
    padding-top: 16px;
}

.dropdown.select_contacts {
    padding-top: 8px;
}

input[type="text"] {
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    &::placeholder {
        font-size: 12px;
        color: #d1d1d1;
        font-family: 'Poppins';
    }
}

input[type="date"] {
    width: 100%;
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    background-color: white;
    font-size: 12px;
    color: #d1d1d1;
    font-family: 'Poppins';
    cursor: pointer;
}

textarea {
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 16px;
    &::placeholder {
        font-size: 12px;
        color: #d1d1d1;
        font-family: 'Poppins';
    }
}

select {
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    padding: 12px 16px;
    select {
        option:disabled {
            font-size: 12px;
            color: #d1d1d1;
        }
    }
}

//altes button, welcher nur Bild war
// input[type="submit"] {
//     border: unset;
//     height: 56px;
//     width: 185px;
//     background-image: url(./../../../../public/assets/tasks/default_new.svg);
//     background-size: cover;
//     background-position: center;
//     border: none;
//     cursor: pointer;
//     color: transparent;
//     &:hover {
//         border: unset;
//     height: 56px;
//     width: 185px;
//         background-image: url(./../../../../public/assets/tasks/hover_new.svg);
//         background-size: cover;
//         background-position: center;
//         box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
//     }
// }


.prio_btns {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    gap: 16px;
    >button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 19px 10px;
        border-radius: 10px;
        border: unset;
        background-color: white;
        width: 136px;
        height: 56px;
        color: black;
        font-weight: 400;
        font-size: 20px;
        border: 1px solid #d1d1d1;
        &:hover{
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.prio.selected.urgent {
    border: none;
    background-color: #ff3d00;
    color: white;
    font-size: 21px;
    font-weight: 700;
    >svg path {
        fill: white;
    }
}

.prio.selected.medium {
    border: none;
    background-color: #fea800;
    color: white;
    font-size: 21px;
    font-weight: 700;
    >svg path {
        fill: white;
    }
}

.prio.selected.low {
    border: none;
    background-color: #7be129;
    color: white;
    font-size: 21px;
    font-weight: 700;
    >svg path {
        fill: white;
    }
}


//selection of contacts
.rotate {
    transform: rotate(180deg);
}

.white {
    color: white;
}

.select_contacts {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    margin-top: 8px;
        &:hover {
            cursor: pointer;
        }
}

.select_contacts img {
    &:hover {
        background-color: #d1d1d1;
        border-radius: 50%;
    }
}

.like_placeholder {
    font-size: 20px;
    color: black;
}

.dropdown_menu {
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    z-index: 30;
    padding: 12px 16px;
    max-height: 200px;
    overflow-y: scroll;
}

.one_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.contact_info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

.avatar {
    height: 15px;
    width:15px;
    border-radius: 50%;
}

.btn_plain {
    &:hover {
        >img {
            content: url(./../../../../public/assets/tasks/close_blue.svg)
        }
    }
}