.red{
    color: red;
}

.section_wrapper {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.upper_form {
    display: flex;
    align-items: flex-start;
    height: auto;
    gap: 42px;
}

.lower_form {
    display: flex;
    justify-content: space-between;
    height: 56px;

    >.notice {
        align-self: flex-start;
    }

    >.clear_submit {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
}

.left_content {
    display: flex;
    flex-direction: column;
    height: 376px;
    width: 440px;
}

.right_content {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 440px;
}

label {
    font-size: 20px;
    padding: 8px;
    padding-top: 16px;
}

.dropdown {
    padding-top: 16px;
}

.dropdown.select_contacts {
    padding-top: 8px;
}

input[type="text"] {
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    &::placeholder {
        font-size: 12px;
        color: #d1d1d1;
        font-family: 'Poppins';
    }
}

input[type="date"] {
    width: 100%;
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    background-color: white;
    font-size: 12px;
    color: #d1d1d1;
    font-family: 'Poppins';
    cursor: pointer;
}

textarea {
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 16px;
    &::placeholder {
        font-size: 12px;
        color: #d1d1d1;
        font-family: 'Poppins';
    }
}

select {
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    padding: 12px 16px;
    select {
        option:disabled {
            font-size: 12px;
            color: #d1d1d1;
        }
    }
}

.prio_btns {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    gap: 16px;
    >button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 19px 10px;
        border-radius: 10px;
        border: unset;
        background-color: white;
        width: 136px;
        height: 56px;
        color: black;
        font-weight: 400;
        font-size: 20px;
        border: 1px solid #d1d1d1;
        &:hover{
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.prio.selected.urgent {
    border: none;
    background-color: #ff3d00;
    color: white;
    font-size: 21px;
    font-weight: 700;
    >svg path {
        fill: white;
    }
}

.prio.selected.medium {
    border: none;
    background-color: #fea800;
    color: white;
    font-size: 21px;
    font-weight: 700;
    >svg path {
        fill: white;
    }
}

.prio.selected.low {
    border: none;
    background-color: #7be129;
    color: white;
    font-size: 21px;
    font-weight: 700;
    >svg path {
        fill: white;
    }
}


//selection of contacts
.rotate {
    transform: rotate(180deg);
}

.white {
    color: white;
}

.select_contacts {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    margin-top: 8px;
        &:hover {
            cursor: pointer;
        }
}

.select_contacts img {
    &:hover {
        background-color: #d1d1d1;
        border-radius: 50%;
    }
}

.like_placeholder {
    font-size: 20px;
    color: black;
}

.dropdown_menu {
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    z-index: 30;
    padding: 12px 16px;
    max-height: 200px;
    overflow-y: scroll;
}

.one_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: 56px;
    font-size: 20px;
    &:hover{
        cursor: pointer;
    }
    >.contact_info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

.avatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    color: white;
}

.btn_plain {
    font-size: 20px;
    box-sizing: border-box;
    &:hover {
        >img {
            content: url(./../../../../public/assets/tasks/close_blue.svg);
        }
    }
}

.checked {
        content: url(./../../../../public/assets/tasks/checkbox-checked.svg);
    }

.selected_contacts {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}

.error_message {
    color:red;
    font-size: 12px;
    font-family: 'Poppins';
}


// SUBTASK
ul {
    padding: 0;
    padding-top: 10px;
}

li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.subtask-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 20px;

    .subtask-circle {
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        margin-right: 10px;
    }

    .subtask-actions {
        display: none;
        margin-left: auto;

        .edit-button,
        .remove-button {
            background: none;
            border: none;
            cursor: pointer;
            margin-left: 10px;
        }
    }

    &:hover .subtask-actions {
        display: flex;

    }
}

.subtask-item:hover {
    background-color: rgb(235, 234, 234);
    border-radius: 20px;
}

.subtask-input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.2117647059);
    border-radius: 10px;
    padding: 12px 16px;
    padding-right: 40px;
    font-size: 20px;

    &::placeholder {
        font-size: 12px;
        color: #d1d1d1;
        font-family: 'Poppins';
    }
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus,
.subtask-input:focus {
    border: 1px solid #2aaae2;
    box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    outline: none;
}

.input-container {
    display: flex;
    align-items: center;
}


.input-icon,
.input-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 8px; // Adjust the margin as needed
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    gap: 8px;
}

// .report {
//     display: flex;
//     justify-content: center;
//     gap: 10px;
//     align-items: center;
//     border-radius: 8px;
//     border: unset;
//     padding: 15px 24px;
//     font-size: 16px;
//     font-weight: 400;
//     color: white;
//     background-color: #2A3647;
//     width: 246px;
//     top: 100px;
//     left: -80%;
//     transition: transform 0.5s ease;
// }

// .show_report {
//     top:-308px;
// }

.report {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    border: unset;
    padding: 15px 24px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #2A3647;
    width: 246px;
    position: fixed; /* Position ändern, um von unten zu fliegen */
    bottom: -100%; /* Start außerhalb des Bildschirms */
    left: 50%; /* In der Mitte des Bildschirms */
    transform: translateX(-50%); /* Um es genau mittig zu platzieren */
    transition: bottom 0.5s ease-in-out; /* Sanfter Übergang für die Bewegung */
    z-index: 50;
}

.show_report {
    bottom: 447px; /* Die Position, an der die Box landen soll */
}