.container {
    display: flex;
    height: 100vh;
    background-color: #2A3647;
    width: 250px;
}

.sidebar{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-bottom:100px;
    margin-top:100px;
}

.menu{
    width:100%;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 52px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
 

    img{
        width:30px;
    }
}
.menu-item:hover {
    background-color: #1E2A3A;
}

.menu-item-wrapper {
    width: 100%;
    display: flex;
}

.menu-item a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
}


.legal-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding-bottom: 20px;
}

.legal-position a {
    text-decoration: none;
    color: #CDCDCD;
    transition: color 0.2s ease-in-out;
    padding-top: 10px;
}

.legal-position a:hover {
    color: #29ABE2;
    transform: scale(1.1);
}

/* Mobile Anpassungen */
@media (min-width:800px) {
    .mobile {
        display: none;
    }
}

@media (max-width:800px) {
    .container {
        display: none;
    }

    .mobile nav {
        background-color: #091931;
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .mobile img {
        width: 30px;
    }

    .mobile a{
        color:white;
    }
}

@media (max-width:400px) {
    .mobile img {
        width: 25px;
    }

    .mobile nav a {
        color: white;
        font-size: 14px;
    }
}
