<div class="container">
    <nav class="sidebar">
        <div class="logo"><img src="assets/sidebar/logo.svg" alt=""></div>
        <div class="menu">
            <div 
                class="menu-item-wrapper" 
                *ngFor="let item of menuItems; let i = index"
                [class.active]="selectedIndex === i"
                (click)="setActive(i)"
            >
                <a [routerLink]="item.link" class="menu-link">
                    <div class="menu-item">
                        <img [src]="item.icon" alt="">
                        <span>{{ item.label }}</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="legal-position">
            <a [routerLink]="['/imprint']">Impressum</a>
            <a [routerLink]="['/privacy-policy']">Datenschutz</a>
        </div>
    </nav>
</div>


<div class="mobile">
    <nav>
        <li><img src="assets/sidebar/summary.svg" alt=""><a href="">Summary</a></li>
        <li><img src="assets/sidebar/add-task.svg" alt=""><a href="">Add Task</a></li>
        <li><img src="assets/sidebar/board.svg" alt=""><a href="">Board</a></li>
        <li><img src="assets/sidebar/contacts.svg" alt=""><a href="">Contacts</a></li>
    </nav>
</div>