<div class="container">
    <nav class="sidebar">
        <div class="logo"><img src="assets/sidebar/logo.svg" alt=""></div>
        <div class="menu" *ngIf="!shouldHideMenu()">
            <div class="menu-item-wrapper" *ngFor="let item of menuItems; let i = index"
                [class.active]="selectedIndex === i" (click)="setActive(i)">
                <a [routerLink]="item.link" class="menu-link">
                    <div class="menu-item">
                        <img [src]="item.icon" alt="">
                        <span>{{ item.label }}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="menu-item-wrapper">
            <div *ngIf="shouldHideMenu()" class="menu-item">
                <img src="assets/login/login.svg" alt="">
                <a [routerLink]="['/']" class="login-link" (click)="logout()">Login</a>
            </div>
        </div>

        <div class="legal-position">
            <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
            <a [routerLink]="['/imprint']">Legal notice</a>
        </div>
    </nav>
</div>


<div class="mobile">
    <nav>
        <div *ngFor="let item of menuItems; let i = index" [class.active]="selectedMobileIndex === i"
            (click)="setMobileActive(i)">
            <div class="menu-item-mobile" [routerLink]="item.link">
                <img [src]="item.icon" alt="">
                <span>{{ item.label }}</span>
            </div>
        </div>
    </nav>
</div>