<h1>Impressum</h1>

<h3>Angaben gemäß § 5 TMG:</h3>

<h4>Verantwortlich für den Inhalt:</h4>

<p>Catalina Acosta Rivera</p>
<p>Musterstraße 1</p>
<p>12345 Musterstadt</p>
<p>E-Mail: &#64; </p>
<br>
<p>Caryen Song</p>
<p>Beispielweg 2</p>
<p>12345 Beispielstadt</p>
<p>E-Mail: &#64; </p>
<br>
<p>Albina Januzi</p>
<p>Beispielallee 3</p>
<p>67890 Beispielhausen</p>
<p>E-Mail: &#64; </p> 
<br>
<p>Barbora Lambeinova</p>
<p>Marktplatz 12</p>
<p>86650 Wemding</p>
<p>E-Mail: lambeinovab&#64;seznam.cz</p>

<h4>Haftungsausschluss:</h4>

<p>Die Inhalte dieser App wurden mit größtmöglicher Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehmen wir jedoch keine Gewähr. Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf dieser App nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>

<h4>Urheberrecht:</h4>

<p>Die auf dieser App veröffentlichten Inhalte unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>

<h4>Datenschutzerklärung:</h4>

<p>Bitte beachten Sie auch unsere <a href="privacy-policy">Datenschutzerklärung</a>.</p>
