@use './../../styles.scss' as *;

.blue_line {
    background-color: $light_blue;
    width: 150px;
    height: 4px;
    border-radius: 5px;
}

.arrow {
    width: 100%;
    padding-left: 24px;
    transform: translatey(44px);
}

button {
    border: none;
    background-color: transparent;
    img {
        width: 32px;
    }
    &:hover {
        cursor: pointer;
    }
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    img{
        width: 70px;
    }
}

.signin_content {
    display: flex;
    align-items: center;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 70px;
}

// login_content

.login_content {
    background-color: #fff;
    width: 580px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 20px #0000000c;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 30px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;

    .error-color {
        font-size: 14px;
        color: rgba(211, 0, 0, 0.534);
    }
}


.input_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        padding: 11px 45px 11px 11px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #00000036;
        font-size: 20px;
        outline: none;
        transition: border 125ms ease;
        &::placeholder{
            color: #a3a3a39d;
        }

        &:focus {
            border: 1px solid $light_blue;
            box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
        }

        &.input-error {
            border: 1px solid rgba(211, 0, 0, 0.534);

            &::placeholder {
                color: rgba(211, 0, 0, 0.534);
            }
        }
    }

    img {
        position: absolute;
        right: 0;
        padding-right: 20px;
    }
}

.privacy_policy_wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    p, a {
        font-size: 16px;
    }

    p {
        color: #A8A8A8;
    }

    a {
        color: $light_blue;
    }
}

.error_p {
    text-align: center;
    font-size: 14px;
    color: rgba(211, 0, 0, 0.534);
}

// button
.btn_content {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px 0 28px 0;
}

.light_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid $lightblack;
    padding: 7px 12px 7px 12px;
    cursor: pointer;
    transition: all 125ms ease;
    color: $lightblack;

    &:hover {
        border: 1px solid $light_blue;
        color: $light_blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
    }
}

.dark_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $lightblack;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 7px 15px 7px 15px;
    transition: all 125ms ease;

    &:hover {
        background-color: $light_blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);

    }
}


// imprint_content
.imprint_content {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 12px;

    a {
        color: #a3a3a3;
        transition: color 125ms, font-weight 0.4s;

        &:hover {
            color: $light_blue;
            font-weight: 600;
        }

        &:not(:hover) {
            color: #a3a3a3;
            font-weight: normal;
        }
    }
}

.report {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    border: unset;
    padding: 15px 24px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #2A3647;
    width: 246px;
    position: fixed; /* Position ändern, um von unten zu fliegen */
    bottom: -100%; /* Start außerhalb des Bildschirms */
    left: 50%; /* In der Mitte des Bildschirms */
    transform: translateX(-50%); /* Um es genau mittig zu platzieren */
    transition: bottom 0.5s ease-in-out; /* Sanfter Übergang für die Bewegung */
    z-index: 50;
}

.show_report {
    bottom: 100px; /* Die Position, an der die Box landen soll */
}

@media (max-width:666px) {
    section {
        padding: 30px 30px;
    }

    h1 {
        font-size: 48px;
    }

    .login_content {
        width: 100%;
        height: 580px;
        margin-top: 0;
        justify-content: flex-start;
    }

    .btn_content {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding-top: 0;

        .btn_box {
            width: 50%;
        }
    }

    .signin_content {
        display: none;
    }

    .signin_content_respo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width:450px) {
    h1 {
        font-size: 44px;
    }

    .header_content {
        img {
            width: 56px;
        }
    }

    form {
        .error-color {
            font-size: 13px;
        }
    }

    .btn_content {
        .btn_box {
            width: 60%;
            padding-top: 0;
        }
    }

    .privacy_policy_wrapper {
        p, a {
            font-size: 14px;
        }
    }

    .input_content {
        input {
            padding: 9px;
            font-size: 16px;
        }
    }
}

@media (max-width:383px) {
    h1 {
        font-size: 36px;
    }
    
    .arrow {
        padding-left: 16px;
        transform: translatey(30px);
    }
    
    .blue_line {
        width: 69%;
    }

    .login_content {
        height: 498px;
    }

    .btn_content {
        .btn_box {
            width: 75%;
            font-size: 16px;
        }
    }

    .input_content {
        input {
            padding: 9px;
            font-size: 16px;
        }
    }

    button{
        img {
            width: 24px;
        }

    }
}

@media (max-width: 360px) {
    section{
        padding: 16px 16px;
    }
    form {width: 90%;}
}
