@use './../../../../styles.scss' as *;

section {
    height: auto;
    width: 100vw;
    max-width: 480px;
    display: flex;
    padding: 20px;
    border-radius: 15px;

    .dialog_content {
        background-color: #fff;
        padding: 25px;
        // height: 90vh;
        width: 100%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

// .headline
.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

// form
form{
    width: 100%;
}
.input_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        padding: 8px;
        width: 100%;
        border-radius: 7px;
        border: 1px solid #00000036;
        font-size: 16px;
        outline: none;
        transition: border 125ms ease;

        &:focus {
            border: 1px solid $light_blue;
            box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
        }
    }
}

.prio_btns {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    gap: 16px;

    >button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 10px 10px;
        border-radius: 10px;
        border: 1px solid #8a898921;
        background-color: white;
        width: 100%;
        color: black;
        font-weight: 400;
        font-size: 18px;

        &:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.prio.selected.urgent {
    background-color: #ff3d00;
    color: white;
    font-size: 18px;

    >svg path {
        fill: white;
    }
}

.prio.selected.medium {
    background-color: #fea800;
    color: white;
    font-size: 18px;

    >svg path {
        fill: white;
    }
}

.prio.selected.low {
    background-color: #7be129;
    color: white;
    font-size: 18px;

    >svg path {
        fill: white;
    }
}

.close_btn {
    img {
        padding: 1px;
        cursor: pointer;
    }

    img:hover {
        background-color: #00000013;
        border-radius: 50%;
    }
}

.category {
    color: #fff;
    padding: 3px 20px;
    border-radius: 5px;
}

.date_prio_content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.title2 {
    width: 100px;
    color: $darkblack;
}

.priority{
    display: flex;
    gap: 8px;
    align-items: center;
}

// .assigned_content
.assigned_content {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.members_content {
    height: 100%;
    max-height: 130px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.person_box {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0px 0px 0px 10px;

    .person_box:first-child {
        padding: 0;
    }

    .color_icon {
        background-color: rgb(12, 170, 117);
        border-radius: 50px;
        border: 1px solid #fff;
        width: 34px;
        height: 34px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.assigned_to {
    display: flex;
}

.dropdown_menu {
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    z-index: 30;
    padding: 12px 16px;
    max-height: 200px;
    overflow-y: scroll;
}

.one_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: 56px;
    font-size: 20px;
    &:hover{
        cursor: pointer;
    }
    >.contact_info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

.avatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    color: white;
}

.btn_plain {
    font-size: 20px;
    box-sizing: border-box;
    &:hover {
        >img {
            content: url(/assets/tasks/close_blue.svg);
        }
    }
}

.checked {
        content: url(/assets/tasks/checkbox-checked.svg);
    }

// subtasks_content
.subtasks_content {
    width: 100%;

    .show_subtask {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-height: 80px;
        overflow: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
        margin-top: 10px;
        gap: 6px;
    }

    .checkbox_content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0px 0px 0px 10px;
        padding: 2px 15px 2px 10px;

        &:hover {
            background-color: #0000000e;
            border-radius: 5px;
        }
    }
}



.subtask-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2117647059);
    border-radius: 10px;
    padding: 12px 16px;
    padding-right: 40px;

    &::placeholder {
        color: #d1d1d1;
    }
}

.input-icon,
.input-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 8px; // Adjust the margin as needed
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    gap: 8px;
}

ul {
    padding: 0;
    padding-top: 10px;
    width: 100%;
}

li {
    padding: 15px 10px 15px 20px;
}

.subtask-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 20px;

    .subtask-circle {
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        margin-right: 10px;
    }

    .subtask-actions {
        display: none;
        margin-left: auto;

        .edit-button,
        .remove-button {
            background: none;
            border: none;
            cursor: pointer;
            margin-left: 10px;
        }
    }

    &:hover .subtask-actions {
        display: flex;

    }
}

.subtask-item:hover {
    background-color: rgb(235, 234, 234);
    border-radius: 8px;
}

.subtask-input-edit{
    padding: 8px;
    width: 100%;
    border-bottom: 1px solid $light_blue;; 
    font-size: 16px;
    border: none; 
    outline: none;
    transition: border 125ms ease;

    &:focus {
        border-bottom: 1px solid $light_blue;; 
    }
}

// save_edit_content
.save_edit_content {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 20px 10px 0 20px;

    .edit_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: $lightblack;
        border: none;
        border-radius: 7px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        padding: 7px 7px 7px 10px;
        transition: all 125ms ease;

        &:hover {
            background-color: $light_blue;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);

        }
    }
}