@use './../../../../styles.scss' as *;

section {
    height: auto;
    width: 100vw;
    max-width: 480px;
    display: flex;
    padding: 20px;
    border-radius: 15px;

    .dialog_content {
        background-color: #fff;
        padding: 25px;
        // height: 90vh;
        width: 100%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}


// .headline
.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

input{
    width: 100%;
}

.close_btn {
    img {
        padding: 1px;
        cursor: pointer;
    }

    img:hover {
        background-color: #00000013;
        border-radius: 50%;
    }
}

.category {
    color: #fff;
    padding: 3px 20px;
    border-radius: 5px;
}

.date_prio_content {
    display: flex;
    gap: 2px;
    width: 100%;
}

.title2 {
    width: 100px;
    color: $darkblack;
}

.priority{
    display: flex;
    gap: 8px;
    align-items: center;
}

// .assigned_content
.assigned_content {
    width: 100%;
    padding-top: 10px;
}

.members_content {
    height: 100%;
    max-height: 130px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.person_box {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0px 0px 0px 20px;

    .color_icon {
        background-color: rgb(12, 170, 117);
        border-radius: 50px;
        border: 1px solid #fff;
        width: 34px;
        height: 34px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

// subtasks_content
.subtasks_content {
    width: 100%;

    .show_subtask {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-height: 80px;
        overflow: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
        margin-top: 10px;
        gap: 6px;
    }

    .checkbox_content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0px 0px 0px 10px;
        padding: 2px 15px 2px 10px;

        &:hover {
            background-color: #0000000e;
            border-radius: 5px;
        }
    }
}

.checkbox_content input {
    display: none;
}

.checkbox_content .unchecked {
    display: block;

}

.checkbox_content .checked {
    display: none;
}

.checkbox_content input:checked+.unchecked {
    display: none;
}

.checkbox_content input:checked~.checked {
    display: block;
}



// save_edit_content
.save_edit_content {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 20px 10px 0 20px;

    .edit_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: $lightblack;
        border: none;
        border-radius: 7px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        padding: 7px 7px 7px 10px;
        transition: all 125ms ease;

        &:hover {
            background-color: $light_blue;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);

        }
    }
}