<section class="delete_content">
    
        <div class="avatar"><p>CR</p></div>
        <h4>Are you sure you want to delete <strong>(Name)?</strong></h4>
            <div class="btn_container">
                <button class="cancel_btn" (click)="closeDialog()">
                    No
                    <img src="./assets/contact/Close.svg" alt="cancel">
                </button>
<!-- indec (click)="deleteItem(index)"-->
                <button class="create_btn" [disabled]="">
                    Yes
                    <img src="./assets/contact/check.svg" alt="Create">
                </button>
            </div>

</section>