@use './../../../../styles.scss' as *;

.delete_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 20px;
    gap: 10px;

    div.avatar {
        width: 50px;
        height: 50px;
        background-color: aquamarine;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
    }

    .btn_container {
        display: flex;
        gap: 15px;

        .cancel_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 7px;
            font-size: 20px;
            border: 1px solid $lightblack;
            padding: 7px 12px 7px 12px;
            cursor: pointer;
            transition: all 125ms ease;

            &:hover {
                border: 1px solid $light_blue;
                color: $light_blue;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
            }

            &:hover img {
                filter: brightness(0) saturate(100%) invert(60%) sepia(90%) saturate(312%) hue-rotate(163deg) brightness(95%) contrast(88%);
            }
        }

        .create_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: $lightblack;
            border: none;
            border-radius: 7px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            padding: 7px 12px 7px 12px;
            transition: all 125ms ease;

            &:hover {
                background-color: $light_blue;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);

            }
        }
    }
}