<section class="delete_content">
    
        <div class="avatar"><p>CR</p></div>
        <h4>Are you sure you want to delete (Name)?</h4>
            <div class="btn_container">
                <button class="cancel_btn">
                    No
                    <img src="./assets/contact/Close.svg" alt="cancel">
                </button>

                <button class="create_btn" type="submit" [disabled]="">
                    Yes
                    <img src="./assets/contact/check.svg" alt="Create">
                </button>
            </div>

</section>