<section class="custom-dialog-content">
    <div class="headline">
        <h1>Titel title title</h1>
        <h4>discription</h4>
        <div class="date_prio_content">
            <p class="title2">Due date:</p>
            <p>date???</p>
        </div>
        <div class="date_prio_content">
            <p class="title2">Priority:</p>
            <p>Meduim???</p>
        </div>

        <div class="assigned_content">
            <p>Assigned To:</p>
            <div class="members_content">
                <div class="person_box">
                    <div class="color_icon">CS</div>
                    <p>Caryen Song</p>
                </div>
                <div class="person_box">
                    <div class="color_icon">CS</div>
                    <p>Caryen Song</p>
                </div>
                <div class="person_box">
                    <div class="color_icon">CS</div>
                    <p>Caryen Song</p>
                </div>
            </div>
        </div>

        <div class="subtasks_content">
            <p>Subtasks</p>

            <div class="show_subtask">
                <label class="checkbox_content" for="">
                    <input type="checkbox">
                    <p>lernen</p>
                </label>
            </div>
            
        </div>

<div class="delete_edit_content">
    <div class="delete_box">
        <img src="./assets/contact/delete.svg" alt="delete">
        <p>Delete</p>
    </div>

    <div class="edit_box">
        <img src="./assets/contact/edit.svg" alt="edit">
        <p>Edit</p>
    </div>
</div>

    </div>

    <!-- <div class="add_contacts_content">
        <div class="close_btn" >
            <img (click)="closeDialog()" src="./assets/contact/Close.svg" alt="close">
        </div>
        
    </div> -->
</section>