@use '../../../../styles.scss' as styles;


.content {
   width: 100%;
   display: flex;
   flex-direction: column;
   animation: slideInFromRight 125ms ease-out forwards;
}


.headline {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}


.divider {
   background-color: styles.$light_blue;
   width: 3px;
   height: 59px;
}


.main_info {
   height: 120px;
   display: flex;
   justify-content: flex-start;
   gap: 54px;
   align-items: center;
   margin-top: 32px;
}


.fullname {
   display: flex;
   flex-direction: column;
}


.icons {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 24px;
}


.actions {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   cursor: pointer;
}

.details {
   margin-top: 24px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   >.bold_text {
       font-weight: 400;
   }
   >.blue_color {
       color: styles.$light_blue;
   }
}

h4 {
   padding-top: 24px;
   padding-bottom: 24px;
}

.succesfull_content{
   width: 326px;
   height: 74px;
   background-color: #2A3647;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 20px;
   position: absolute;
   bottom: 120px;
   left:50%;
   animation: slideInFromRight 125ms ease-out forwards;
}


@keyframes slideInFromRight {
   0% {
       transform: translateX(100%);
   }

   100% {
       transform: translateX(0);
   }
}

@keyframes slideOutToRight {
   0% {
       transform: translateX(0);
   }

   100% {
       transform: translateX(100%);
   }
}

.dialog-closed {
   animation: slideOutToRight 0.5s ease-in forwards;
}
