<h1>Datenschutzerklärung</h1>
<br>
<h4>1. Einleitung</h4>
<br>
<p>Wir freuen uns über Ihr Interesse an unserer App. Der Schutz Ihrer persönlichen Daten ist uns sehr wichtig. Nachfolgend informieren wir Sie ausführlich über den Umgang mit Ihren Daten.</p>
<br>
<h4>2. Verantwortliche Stelle</h4>
<br>
<p>Verantwortlich für die Datenverarbeitung in dieser App sind:</p>
<br>
<p>Catalina Acosta Rivera</p>
<p>Caryen Song</p>
<p>Albina Januzi</p>
<p>Barbora Lambeinova</p>
<p>Für mehr Informationen schauen Sie gerne unser <a href="imprint">Impressum</a>.</p>
<br>
<h4>3. Erhebung und Verwendung von Daten</h4>
<br>
<p>Wir erheben und verwenden Ihre personenbezogenen Daten nur, wenn dies gesetzlich erlaubt ist oder wenn Sie in die Erhebung und Verarbeitung eingewilligt haben.</p>
<br>
<h5>3.1 Personenbezogene Daten</h5>
<p>Personenbezogene Daten sind Informationen, die eine Identifikation einer Person ermöglichen, z. B. Name, E-Mail-Adresse oder IP-Adresse. In der Regel benötigen wir diese Daten, wenn Sie uns über ein Kontaktformular ansprechen oder bestimmte Funktionen der App nutzen.</p>
<br>
<h5>3.2 Automatische Datenerfassung</h5>
<p>Beim Aufrufen unserer App werden automatisch folgende Daten in sogenannten Server-Log-Dateien gespeichert:</p>
<br>
<p>Ihre IP-Adresse</p>
<p>Datum und Uhrzeit des Zugriffs</p>
<p>Referrer URL (die zuvor besuchte Seite)</p>
<p>Informationen über den verwendeten Browser (z. B. Version, Sprache)</p>
<p>Diese Daten sind technisch notwendig, um Ihnen die App zur Verfügung zu stellen und werden nicht zur Identifizierung einzelner Personen verwendet.</p>
<br>
<h4>4. Verwendung von Cookies</h4>
<br>
<p>Unsere App verwendet Cookies, um das Nutzererlebnis zu verbessern. Cookies sind kleine Textdateien, die auf Ihrem Gerät gespeichert werden. Sie können die Verwendung von Cookies jederzeit in den Einstellungen Ihres Geräts deaktivieren. Bitte beachten Sie, dass einige Funktionen der App möglicherweise nicht mehr verfügbar sind, wenn Sie Cookies deaktivieren.</p>
<br>
<h4>5. Datenweitergabe an Dritte</h4>
<br>
<p>Wir geben Ihre Daten grundsätzlich nicht an Dritte weiter, es sei denn, dies ist zur Erfüllung eines Vertrages erforderlich oder wir sind gesetzlich dazu verpflichtet. In solchen Fällen stellen wir sicher, dass Dritte die Daten nur im Einklang mit den geltenden Datenschutzbestimmungen verwenden.</p>
<br>
<h4>6. Datensicherheit</h4>
<br>
<p>Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre Daten vor Verlust, Missbrauch oder unbefugtem Zugriff zu schützen. Trotz aller Sorgfalt können jedoch keine Datenübertragungen über das Internet vollständig sicher sein, weshalb wir keine Garantie für die Sicherheit der übermittelten Daten übernehmen können.</p>
<br>
<h4>7. Ihre Rechte</h4>
<br>
<p>Sie haben das Recht, jederzeit Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten. Darüber hinaus können Sie die Berichtigung, Löschung oder Einschränkung der Verarbeitung Ihrer Daten verlangen. Sie können auch der Verarbeitung Ihrer Daten widersprechen.</p>
<br>
<p>Wenn Sie Fragen zur Verarbeitung Ihrer personenbezogenen Daten haben oder von Ihren Rechten Gebrauch machen möchten, können Sie uns jederzeit unter den oben angegebenen Kontaktinformationen erreichen.</p>
<br>
<h4>8. Änderungen der Datenschutzerklärung</h4>
<br>
<p>Wir behalten uns vor, diese Datenschutzerklärung jederzeit anzupassen, um sie an neue gesetzliche Vorgaben oder Änderungen unserer Dienstleistungen anzupassen. Die jeweils aktuelle Version der Datenschutzerklärung ist in der App abrufbar.</p>
<br>
<h4>9. Kontakt</h4>
<br>
<p>Wenn Sie Fragen zu dieser Datenschutzerklärung oder zur Verarbeitung Ihrer personenbezogenen Daten haben, können Sie sich an uns wenden:</p>
<br>
<p>Barbora Lambeinova</p>
<p>lambeinovab&#64;seznam.cz</p>


